/* .box1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 3px solid green;
    animation: movement;
    animation-duration: 125ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateY(0px);
    transform: translateY(100px);
    transition: transform ease-in-out 125ms;
    transition-duration: 2s;

}
.box1.move{
    transform: translateY(400px);
} */

/* @keyframes movement {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(69vmin);
    }
    
} */


/*css ka ye animation topic h*/

/*@keyframe use kia jata h jb automatically animations chahiye screen pe with touching the elements*/

/*Transform ek property hoti h jiska mtlb hota h bdlna*/

/*Transform property me translate hota h mtlb kispe kitna bdlna h*/

/*@keyframe use krte h to apne elements ko define kr dete h ki ispe animations apply hui h*/

/*Transition property mtlb element k upr animation kitne time tk chlega*/

/*animation-duration mtlb element pe jo animation h iski speed kitni hogi*/

/*animation-iteration-count ka mtlb hota h element pe animation kitne bar chlega*/

/*animation-direction mtlb animation jis element pe h uski direction kya hogi mtlb element kis trf move krega*/

/*s, ms stands for time in seconds and milliseconds for animations on elements*/



/* < GAME STYLING > */


*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: rgb(225, 18, 18);
    background: radial-gradient(circle at center,#6710108f, #49a1b4);  /*EXTRA*/
    text-align: center;
    overflow-x: hidden;  /*EXTRA*/
}

h1{
    color: rgb(51, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Game-container{
    height: 50vh;   /*EXTRA-vh*/
    width: 100%;     /*EXTRA %*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Game{
    height: 40vh;   /*EXTRA -vh*/
    width: 100%;    /*EXTRA %*/
    max-width: 800px;   /*EXTRA for max-width for big screens*/
    padding: 0 20px;    /*EXTRA 0 for top and bottom 20 for right and left*/
    box-sizing: border-box;   /*EXTRA to include padding in total width*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#left-fist1{
    height: 20vmin;
    width: 20vmin;
    max-height: 150px;
    max-width: 150px;
    border-radius: 12vmin;
    animation: movement;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.7s;
    transition: ease-in-out;
    
}
@keyframes movement{
    0%{
        transform: translateY(0vmin);
    }
    /* 50%{
        transform: translateX(1vmin);
    } */
    100%{
        transform: translateY(3vmin);
    }
}

#right-fist1{
    height: 20vmin;
    width: 20vmin;
    max-height: 150px;
    max-width: 150px;
    border-radius: 12vmin;
    animation: movement-2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.7s;
    transition: ease-in-out;
    transform: scaleX(-1);
    
}

/*writing animations of right fist*/

@keyframes movement-2{
    0%{
        transform: translateY(0vmin) scaleX(-1);
    }
    /* 50%{
        transform: translateX(1vmin);
    } */
    100%{
        transform: translateY(3vmin) scaleX(-1);
    }
} 

/*Styling msg container*/

.msg-container{
    height: 10vh;
    width: 100%;
}



.scoreboard-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 120px;
    margin-top: 2vh;
}

.score-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}




/*Styling symbols*/

.symbols{
    height: 5vh;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}

/*Styling stone sign button*/

#stone{
    height: 8vmin;
    width: 12vmin;
    font-size: 5vmin;
    border: 3px solid rgb(200, 11, 221);
    border-radius: 8px;
    background-color: rgb(85, 125, 210);
    animation: stone-movement;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: ease-in-out;
    
}

#stone:hover{
    height: 10vmin;
    width: 15vmin;
}

/*writing animations of stone sign*/

@keyframes stone-movement{
    0%{
        transform: translateX(0vmin);
    }
    100%{
        transform: translateX(2vmin);
    }
}

/*Styling paper sign button*/

#paper{
    height: 8vmin;
    width: 12vmin;
    font-size: 5vmin;
    border: 3px solid rgb(122, 206, 122);
    border-radius: 8px;
    background-color: rgb(72, 21, 64);
    animation: paper-movement;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: ease-in-out;
    
}

#paper:hover{
    height: 10vmin;
    width: 15vmin;
}

/*writing animations of paper sign*/

@keyframes paper-movement{
    0%{
        transform: translateX(0vmin);
    }
    100%{
        transform: translateX(2vmin);
    }
}

/*Styling scissor sign button*/

#scissor{
    height: 8vmin;
    width: 12vmin;
    font-size: 5vmin;
    border: 3px solid rgb(228, 137, 17);
    border-radius: 8px;
    background-color: rgb(14, 221, 165);
    animation: scissor-movement;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: ease-in-out;
}

#scissor:hover{
    height: 10vmin;
    width: 15vmin;
}

/*writing animations of scissor sign*/

@keyframes scissor-movement{
    0%{
        transform: translateX(0vmin);
    }
    100%{
        transform: translateX(2vmin);
    }
    
}

/*Styling new game button*/

#new-btn{
    margin-top: 9vh;
    height: 4vh;
    width: 10vw;
    min-width: 40px;
    background-color: rgb(129, 58, 58);
    color: beige;
    border-radius: 2%;
    border: 3px solid rgb(248, 11, 11);
    }

#new-btn:hover{
        height: 5vh;
        width: 11vw;
    }